## Data Analysis for police Dataset

In [161]:
import pandas as pd

In [162]:
file_path=r"C:\Users\PC\Documents\jupyter notebook\Data Analysis projects\Police Dataset\Police Data.csv"
df = pd.read_csv(file_path)

In [163]:
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### Data Exploration

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

In [165]:
df.shape

(65535, 15)

In [166]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [167]:
df.nunique()

stop_date             2651
stop_time             1432
country_name             0
driver_gender            2
driver_age_raw          93
driver_age              73
driver_race              5
violation_raw           12
violation                6
search_conducted         2
search_type             23
stop_outcome             6
is_arrested              2
stop_duration            4
drugs_related_stop       2
dtype: int64

In [168]:
df.driver_race.unique()

array(['White', 'Black', 'Asian', nan, 'Hispanic', 'Other'], dtype=object)

In [169]:
df.violation_raw.unique()

array(['Speeding', 'Call for Service', 'Equipment/Inspection Violation',
       'Other Traffic Violation', nan, 'Registration Violation',
       'Special Detail/Directed Patrol', 'APB',
       'Violation of City/Town Ordinance', 'Suspicious Person',
       'Motorist Assist/Courtesy', 'Warrant', 'Seatbelt Violation'],
      dtype=object)

In [170]:
df.violation.unique()

array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
       'Registration/plates', 'Seat belt'], dtype=object)

In [171]:
df.stop_outcome.unique()

array(['Citation', 'Arrest Driver', nan, 'N/D', 'Warning',
       'Arrest Passenger', 'No Action'], dtype=object)

In [172]:
df[['violation','violation_raw']]

       violation                   violation_raw
0       Speeding                        Speeding
1       Speeding                        Speeding
2       Speeding                        Speeding
3          Other                Call for Service
4       Speeding                        Speeding
...          ...                             ...
65530   Speeding                        Speeding
65531   Speeding                        Speeding
65532  Equipment  Equipment/Inspection Violation
65533        NaN                             NaN
65534   Speeding                        Speeding

[65535 rows x 2 columns]

In [173]:
df.corr()

,country_name,driver_age_raw,driver_age,search_conducted,drugs_related_stop
country_name,NaN,NaN,NaN,NaN,NaN
driver_age_raw,NaN,1.000000,-0.985177,0.016114,0.010153
driver_age,NaN,-0.985177,1.000000,-0.058005,-0.044385
search_conducted,NaN,0.016114,-0.058005,1.000000,0.450170
drugs_related_stop,NaN,0.010153,-0.044385,0.450170,1.000000

### data cleaning

In [174]:
df.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

#### handling missing values

In [175]:
df.count()

stop_date             65535
stop_time             65535
country_name              0
driver_gender         61474
driver_age_raw        61481
driver_age            61228
driver_race           61475
violation_raw         61475
violation             61475
search_conducted      65535
search_type            2479
stop_outcome          61475
is_arrested           61475
stop_duration         61475
drugs_related_stop    65535
dtype: int64

In [176]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

#### droping columns that has more than 90% of missing values

In [177]:
df.drop(columns=['country_name','search_type'],inplace=True)

In [178]:
df[df.isnull().any(axis=1)]

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
25,9/3/2005,16:02,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
29,9/26/2005,1:05,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
52,10/1/2005,13:09,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
110,10/3/2005,19:50,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
124,10/4/2005,11:43,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65427,12/2/2012,3:23,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65488,12/5/2012,8:35,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65493,12/5/2012,13:20,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65502,12/5/2012,23:57,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False

In [179]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender         4061
driver_age_raw        4054
driver_age            4307
driver_race           4060
violation_raw         4060
violation             4060
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

#### droping recording that has 9 missing values or more

In [180]:
df.dropna(axis=0, thresh=9,inplace=True)

In [181]:
df.isnull().sum()

stop_date               0
stop_time               0
driver_gender           1
driver_age_raw          1
driver_age            252
driver_race             0
violation_raw           0
violation               0
search_conducted        0
stop_outcome            0
is_arrested             0
stop_duration           0
drugs_related_stop      0
dtype: int64

#### filling the remaining missing values

In [182]:
df['driver_gender'].fillna(df['driver_gender'].mode()[0], inplace=True)
df['driver_age'].fillna(df['driver_age'].mean(),inplace=True)
df['driver_age_raw'].fillna(df['driver_age_raw'].mean(),inplace=True)

In [183]:
df.isnull().sum()

stop_date             0
stop_time             0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

In [184]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

### handling the stop duration as a categorical data

In [185]:
df.stop_duration.unique()

array(['0-15 Min', '16-30 Min', '30+ Min', '2'], dtype=object)

In [186]:
df.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [187]:
df.drop(df[df['stop_duration']=="2"].index , inplace=True)

In [188]:
df['min_stop_duration'] = df['stop_duration'].map({'0-15 Min': 0 ,'16-30 Min':16 , '30+ Min':30})
df['max_stop_duration'] = df['stop_duration'].map({'0-15 Min': 15 ,'16-30 Min':30 , '30+ Min':45})

In [189]:
df['avg_stop_duration'] = (df['min_stop_duration']+df['max_stop_duration']) / 2
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop,min_stop_duration,max_stop_duration,avg_stop_duration
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,0,15,7.5
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,0,15,7.5
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,0,15,7.5
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False,16,30,23.0
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,0,15,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,12/6/2012,16:00,M,1994.0,18.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,0,15,7.5
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,0,15,7.5
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False,0,15,7.5
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,0-15 Min,False,0,15,7.5
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,0,15,7.5

In [190]:
df.drop(columns=['stop_duration'], inplace=True)

In [191]:
### rearrange columns
df.insert(len(df.columns)-5,'min_stop_duration',df.pop('min_stop_duration'))
df.insert(len(df.columns)-4,'max_stop_duration',df.pop('max_stop_duration'))
df.insert(len(df.columns)-3,'avg_stop_duration',df.pop('avg_stop_duration'))

In [194]:
df.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,min_stop_duration,max_stop_duration,avg_stop_duration,is_arrested,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,0,15,7.5,False,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,0,15,7.5,False,False

In [195]:
df.corr()

,driver_age_raw,driver_age,search_conducted,min_stop_duration,max_stop_duration,avg_stop_duration,drugs_related_stop
driver_age_raw,1.000000,-0.104774,0.016076,-0.009934,-0.009498,-0.009721,0.010148
driver_age,-0.104774,1.000000,-0.057983,0.028600,0.029580,0.029087,-0.044388
search_conducted,0.016076,-0.057983,1.000000,0.296535,0.299295,0.297941,0.449703
min_stop_duration,-0.009934,0.028600,0.296535,1.000000,0.999362,0.999846,0.142232
max_stop_duration,-0.009498,0.029580,0.299295,0.999362,1.000000,0.999835,0.144164
avg_stop_duration,-0.009721,0.029087,0.297941,0.999846,0.999835,1.000000,0.143205
drugs_related_stop,0.010148,-0.044388,0.449703,0.142232,0.144164,0.143205,1.000000

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61474 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           61474 non-null  object
 1   stop_time           61474 non-null  object
 2   driver_gender       61474 non-null  object
 3   driver_age_raw      61474 non-null  float64
 4   driver_age          61474 non-null  float64
 5   driver_race         61474 non-null  object
 6   violation_raw       61474 non-null  object
 7   violation           61474 non-null  object
 8   search_conducted    61474 non-null  bool
 9   stop_outcome        61474 non-null  object
 10  min_stop_duration   61474 non-null  int64
 11  max_stop_duration   61474 non-null  int64
 12  avg_stop_duration   61474 non-null  float64
 13  is_arrested         61474 non-null  object
 14  drugs_related_stop  61474 non-null  bool
dtypes: bool(2), float64(3), int64(2), object(8)
memory usage: 6.7+ MB

### Inquiries

#### For Speeding , were Men or Women stopped more often ?

In [197]:
df[(df['violation']=='Speeding')].driver_gender.value_counts().reset_index()

  index  driver_gender
0     M          25518
1     F          11686

#### who get searched often, male or female?

In [198]:
df.groupby('driver_gender').search_conducted.sum().reset_index()

  driver_gender  search_conducted
0             F               366
1             M              2113

In [199]:
df.search_conducted.value_counts()

False    58995
True      2479
Name: search_conducted, dtype: int64

#### what is the mean stop duration

In [200]:
df.avg_stop_duration.mean()

11.67825422129681

#### Compare the age distributions for each violation.

In [203]:
df.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6516.0,31.686364,11.373176,16.0,23.0,28.0,39.0,81.0
Moving violation,11925.0,36.724316,13.231397,15.0,25.0,35.0,46.0,86.0
Other,3583.0,40.178577,12.608325,16.0,30.0,40.0,49.5,86.0
Registration/plates,2243.0,32.658693,11.143450,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37204.0,33.264583,12.601601,15.0,23.0,30.0,42.0,88.0